<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class='container' style='padding-top:1.5em;'>
    <div class='row'>
        <h2>Mon Compte</h2>
    </div>
    <div class='row' style='display: block;'>
        {% if user.is_authenticated %}
        Bonjour {{ user.username }} !
        <p><a href="{% url 'logout' %}">Deconnexion</a></p>
        {% else %}
        <p>Vous n'êtes pas connecté.</p>
        <a href="{% url 'login' %}">Se connecter</a>
        {% endif %}
    </div>
</div>

<div id='justfillit'></div>
{% endblock %}