<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div id='accountheader' class='container' style='padding-top:1.5em; min-width:100%;'>
    <div class='row justify-content-center'>
        <div class='col-md-6 text-center' style='margin-bottom: 2em'>

            {% if user.is_authenticated %}

            <h3 style='color:#DE9440;'><span style='background-color:rgba(0, 0, 0, .5)'>A hoy</span></h3>
            <h1 style='text-transform: capitalize; color:white;'><span style='background-color:rgba(0, 0, 0, .5)'>{{ user.username }} !</span></h1>
            <!-- <p><a href="{% url 'logout' %}">Deconnexion</a></p> -->

            {% else %}
            <p style='color:white;'><span style='background-color:rgba(0, 0, 0, .5)'>Vous n'êtes pas connecté.</span></p>
            <a href="{% url 'login' %}">Se connecter</a>
            {% endif %}
               

        </div>
    </div>
</div>

<div class='container' style='margin-top:1.5em;'>
    <div class='row justify-content-center'>
        <div class='col-md-6 text-center'>
            {% if user.is_authenticated %}
            {{ user.email }}
            {% endif %}
        </div>
    </div>
</div>

<div id='justfillit'></div>
{% endblock %}