<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class='container' style='padding-top:1.5em;'>
    <div class='row' style='display: block;'>
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
        {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
        {% endif %}
    </div>
</div>

<div id='justfillit'></div>
{% endblock %}