{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Mentions Légales</h1>
<strong>Herbergeur: </strong><p>Heroku</p>
<strong>Template: </strong><p>'Start Bootstrap Creative' https://blackrockdigital.github.io/startbootstrap-creative/</p>
<strong>Logos: </strong><p>https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/marque-et-logo</p>
<strong>Photographies: </strong><p>https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/langage-visuel/photographies</p>
<div id='justfillit'></div>
{% endblock %}

