/* Body */

body { 
    padding-top: 72px; /* Margin bottom by footer height */
}

/* Menu */

#carroticon {
    max-width: 3em;
    filter: brightness(80%);
}

#carroticon:hover {
    filter: brightness(100%);
}

.nav-item {
    display: flex;
    align-items: center;
}

#searchcontainer {
    margin-right: 2em;
}

#purbeurrelogo {
    max-width: 2em;
    margin-right: 1em;
    margin-top: -1em;
    margin-bottom: -1em;
}


/* Research field */

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

/* Bio pictures */

#imgcolette {
    width: 10em;
    border-radius: 30px;
    margin: 3em;
}

#imgremy {
    width: 10em;
    border-radius: 30px;
    margin: 3em;
}


/* login page */

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

/* .navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
} */

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

/* account page  */ 

#accountheader {
    background-image: url('../img/account-header-1.jpg');
    background-position: 0px -500px;
    /* min-height: 200px; */
}

